@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/inicio.png" class="img" alt="Inicio" width="350px" />
    <h1 class="display-4">¡Bienvenido a mi Punto de Venta!</h1>
</div>

